<h2 mat-dialog-title>Add New Map</h2>
<mat-dialog-content>
  <form>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput />
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput></textarea>
            <mat-hint>0/2500 characters</mat-hint>
        </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button cdkFocusInitial>OK</button>
</mat-dialog-actions>
