#dashboard-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#map-list {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    width: 20%;
}

#map-list-header {
    display: flex;
    flex-direction: row;
    border-bottom: solid black 1px;
    padding: 2%;
    height: 5%;
    width: 100%;
}

#map-list-header-title {
    width: 75%;
}

#map-list-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 25%;
}

#map-list-content {
    height: 95%;
    width: 100%;
    overflow-y: auto;
}

#map-list-toggle {
    background-color: gray;
    padding: 1%;
    width: 5%;
}

#map-list-toggle-btn {
    width: 100%;
}

#map {
    width: 75%;
}