<main id="dashboard-wrapper">
    <div id="map-list" *ngIf="mapListShow">
        <div id="map-list-header">
            <div id="map-list-header-title">
                <span>My Maps</span>
            </div>
            <div id="map-list-controls">
                <button class="action-btn" (click)="addNewMap()">+</button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div id="map-list-search">
            <mat-form-field appearance="outline">
                <mat-label>Search...</mat-label>
                <input matInput />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div id="map-list-content">
            <div id="no-maps" *ngIf="maps.length === 0">
                <span id="no-maps-content">No maps available. Create a new one?</span>
            </div>
            <mat-accordion *ngIf="maps.length > 0">
                <mat-expansion-panel *ngFor="let map of maps">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{map.title}}</mat-panel-title>
    
                    </mat-expansion-panel-header>
                    <p>This is the primary content of the panel.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div id="map-list-toggle">
        <button id="map-list-toggle-btn" class="action-btn" (click)="toggleMapList()">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div id="map">
        <div style="height: 100%;"
            leaflet 
            [leafletOptions]="mapOptions">
        </div>
    </div>
</main>
