<main id="dashboard-wrapper">
    <div id="map-list" *ngIf="mapListShow">
        <div id="map-list-header">
            <div id="map-list-header-title">
                <span>My Maps</span>
            </div>
            <div id="map-list-controls">
                <button class="action-btn" (click)="addNewMap()">+</button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div id="map-list-search">
            <mat-form-field appearance="outline">
                <mat-label>Search...</mat-label>
                <input matInput />
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div id="map-list-content">
            <div id="no-maps" *ngIf="maps.length === 0">
                <span class="no-content">No maps available. Create a new one?</span>
            </div>
            <mat-accordion *ngIf="maps.length > 0">
                <mat-expansion-panel *ngFor="let map of maps">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{map.title}}</mat-panel-title>
    
                    </mat-expansion-panel-header>
                    <p id="map-description">{{map.description}}</p>
                    <mat-divider></mat-divider>
                    <br />
                    <div class="no-content" *ngIf="map.locations.length === 0">
                        <span>No locations available. Create a new one?</span>
                    </div>
                    <div id="locations" *ngIf="map.locations.length > 0">
                        <div id="locations-table-wrapper">

                        </div>
                    </div>
                    <br />
                    <div id="map-content-actions">
                        <button *ngIf="map.locations.length > 0" class="action-btn"><mat-icon>map</mat-icon></button>
                        <button class="action-btn"><mat-icon>place</mat-icon>+</button>
                        <button class="delete-btn" (click)="deleteMap(map)"><mat-icon>delete</mat-icon></button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div id="map-list-toggle">
        <button id="map-list-toggle-btn" class="action-btn" (click)="toggleMapList()">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div id="map" #map>
        <div style="height: 100%;"
            leaflet 
            [leafletOptions]="mapOptions"
            (leafletMapReady)="onMapReady($event)"
            >
        </div>
    </div>
</main>
